button {
  display: flex;
  font-size: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: auto;
}
.form {
  margin: auto;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  margin: auto;
}

.file-input label {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-size: 25px;
  background-color: black;
  color: white;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.form .text {
  font-size: 25px;
}
.caption {
  font-size: 30px;
  margin-top: 20px;
}
.date {
  font-size: 30px;
  margin-top: 20px;
}
.location {
  font-size: 30px;
  margin-top: 20px;
}
.sbmt {
  color: white;
  margin-top: 20px;
  font-size: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.recentPost {
  border: 1px solid transparent;
  height: 400px;
  width: 100%;
}
.recentPost .line p {
  padding-top: 50px;
  display: inline-block;
  margin: 0 90px;
}
.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}
.heading span {
  font-size: 4rem;
  color: rgb(44, 11, 11);
  background: transparent;
  border: 1px solid transparent;
}
.block {
  border: 1px solid transparent;
  max-width: 240px;
  
  color: white;
  padding-top: 80px;
  word-break: break-all;
  box-sizing: border-box;
}
.blck-img img {
  border: 10px solid white;
}
.main-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
}
.navbar {
  display: flex;
}
.navbar ul {
  margin: 0 0rem 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1 0 0%;
  justify-content: space-between;
}
.navbar ul a {
  display: block;
  padding: 10px 12px;
  height: auto;
}

.navbar img {
  width: 25px;
  height: 25px;
}
.navbar {
  /* fixed keyword is fine too */
  position: sticky;
  top: 0;
  z-index: 100;
  /* z-index works pretty much like a layer:
    the higher the z-index value, the greater
    it will allow the navigation tag to stay on top
    of other tags */
}
.navbar-brand {
  height: auto;
  width: 25%;
}
body {
  background-color: white;
  background-image: url("https://images.wallpapersden.com/image/download/city-building-sunshine-pixel-art_a2ZnameUmZqaraWkpJRmbmdlrWZlbWU.jpg");
}

/*  */

#myBtn{
  margin-top: 1%;
}

#btnCancel{
  
}

#btnupload{
  
}

#cap{
  margin-top: 1%;
}

.imgSelect{
  border: none;
  outline-color: none;
}

#contains{
  padding: 20px;
  display: inline-block;
  position: relative;
  /* border: solid 2px black; */
}

.postedImgs{
  width: 300px;
  height: 350px;
}

.caps{
  /* position: absolute; */
  /* border: solid 2px white; */
  width: 300px;
  height: fit-content;
  background-color: skyblue;
  font-size: 25px;
}
